<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.fieds_for :物件名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :賃料 %>
    <%= f.number_field :rent %>円
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :築年数 %>
    <%= f.number_field :age %>年
  </div>
  

  <div class="field">
    <%= f.label :備考 %>
    <%= f.text_area :remarks_column %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
