<%= form_for(closest_station) do |f| %>
  <% if closest_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(closest_station.errors.count, "error") %> prohibited this closest_station from being saved:</h2>

      <ul>
      <% closest_station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :路線名 %>
    <%= f.text_field :route %>
  </div>

  <div class="field">
    <%= f.label :駅名 %>
    <%= f.text_field :station %>
  </div>

  <div class="field">
    <%= f.label :徒歩分数 %>
    <%= f.number_field  :on_foot %>分
  </div>

  <div class="actions">
    <%= f.submit '登録する' %>
  </div>
<% end %>
